
</div>
<footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                            <h3>Aditya Avinash</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quos,
                                consequuntur, quo blanditiis modi nihil distinctio recusandae necessitatibus
                                ullam aperiam illum excepturi reprehenderit ipsam optio maiores vero hic fugiat
                                eos.</p>

                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                            <h2>Trending Topics</h2>
                            <ul>
                                <li>
                                    <a href="#">Cooking Healthy Dishes</a>
                                </li>
                                <li>
                                    <a href="#">Using internet to its best</a>
                                </li>
                                <li>
                                    <a href="#">Fun facts</a>
                                </li>
                                <li>
                                    <a href="#">Use of Node</a>
                                </li>
                                <li>
                                    <a href="#">Best places to visit</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
                            <h2>Follow us</h2>
                            <p>social media links</p>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>

                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
                            <h2>our Newsletter</h2>
                            <p>Please subscribe to our Newsletter</p>
                            <form action="">
                                <input type="email">
                                <input type="submit" value="subscribe">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <p class="footer-bottom-text">All rights Reserved &copy; Name@2019</p>
        </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
