<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
<style>
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins&display=swap');

img:hover
{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5) !important;
}

p
{
    color: #999;
    line-height: 25px;
}

h2,h3{
    color: #fff;
}

h2{
    font-size: 18px;
}

.footer-top
{
    background: #111;
    padding: 80px 0;
}

.segment-one h3
{
    font-family: 'Courgette', cursive;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-one h3:before
{
    content: '||';
    color: #c65039;
    padding-right: 10px;
}

.segment-two h2
{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;

}

.segment-two h2:before
{
    content: '||';
    color: #c65039;
    padding-right: 10px;
}

.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li
{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}

.segment-two ul li a {
    color: #999;
    text-decoration: none;
}

.segment-three h2{
    color: #fff;
        font-family: 'Poppins', sans-serif;
text-transform: uppercase;
}

.segment-three h2:before
{
    content: '||';
    color: #c65039;
    padding-right: 10px;
}

.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}


.segment-four h2
{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.segment-four h2:before
{
    content: '||';
    color: #c65039;
    padding-right: 10px;
}

.segment-four form input[type=submit]
{
    background: #c65039;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
}

.footer-bottom-text
{
    text-align: center;
    background: #000;
    line-height: 75px;

}

/* responsive */


@media only screen and (min-width:768px) and (max-width:991px)
{
    .md-mb-30
    {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:767px)
{
    .sm-mb-30
    {
        margin-bottom: 30px;
    }

    .footer-top

    {
        padding: 50px 0;
    }
}
</style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="/">Blogging !</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <% if(isLoggedIn) { %>
      
      <li class="nav-item active mx-2">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="/dashboard">dashboard</a>
      </li>
      <li>
        <form action="" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Search">
                        </div>
                    </form>
      </li>
      <%} else { %>
      <li class="nav-item active mx-2">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
          <li class="nav-item mx-2">
        <a class="nav-link" href="/login">login</a>
      </li>
      <% } %>
      
    </ul>
  </div>
</nav>


  <body>
    <div class="mx-0">
