<%- include("partials/adhead") -%>

<style>
    .cntr {
        justify-content: center;
    }

</style>
<div class="d-flex m-5">

    <% pos.forEach(function(item){ %>

        <div class="card mx-2" style="display: inline-flex; max-width: 30rem;">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <h2 class="card-subtitle mb-2 text-muted"><%= item.category %></h2>
                <p class="card-text"><%= item.date %></p>
            </div>
            <button class="btn btn-success my-1" href="/edit-post/<%= item._id%>">edit</button>
            <button class="btn btn-danger" href="" onclick="deletecat('<%= item._id %>')">delete</button>
        </div>

    <% }); %>

    <script>
        function deletecat(id) {
            if (confirm("Hey ! \nDelete it ?")) {
                fetch('/delcat/' + id, {method: 'DELETE'}).then(() => {
                    console.log('done !');
                    window
                        .location
                        .reload()
                });
            } else {
                console.log('cancelled');
            }
            console.log(id);

        }
    </script>
</div>

<%- include("partials/adfoot") -%>