<%- include("partials/adhead") -%>

<div class="d-flex m-5">
<form method="POST" action="/addcat">
    <div class="form-group">
        <label>Add Category</label>
        <input type="text" class="form-control" name="category">
    </div>
    <input type="submit" name="publish" class="btn btn-primary" value="submit">
</form>
</p>
</div>




<script>
    function test()
    {
        console.log(res.body);
        // if(showAlert)
        // {
        //     alert('invalid entry')
        // }
        // else
        // {
        //     console.log('done');
        // }
    }
</script>

<%- include("partials/adfoot") -%>
