<%- include("partials/adhead") -%>

<div class="d-flex m-5">
    <form method="POST" action="/compose" enctype="multipart/form-data">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label>PostBody</label>
            <textarea class="form-control" rows="4" name="postBody"></textarea>
        </div>
        <label for="photo">Select Two Photos :</label>
        <input required type="file" accept="image/*"  onchange="document.getElementById('img-featured').src = window.URL.createObjectURL(this.files[0]),document.getElementById('img-secondry').src = window.URL.createObjectURL(this.files[1])"  name="photo" multiple/>
        <br>
        <br>
        <img class="img-fluid" id="img-featured" style="max-width: 250px;"> &nbsp; &nbsp;
        <img class="img-fluid" id="img-secondry" style="max-width: 250px;">
        <br>
        <br>
        

        <label for="category">Choose a Category:</label>

        <select name="category" id="category">
<option disabled selected class='text-capitalize'>
                select category
            </option>
            <% category.forEach(function(cat){ %>
                <option value="<%= cat.category %>" name="category">
                    <%= cat.category %>
                </option>
            <% }); %>
        </select>
        <br>
        <br>
        <input
            name="publish"
            type="submit"
            value="submit"
            class="btn btn-primary"
            onclick="">

        <input type="button" onclick="redhand()" value="cancel" class="btn btn-danger">
    </form>

</div>

<script>
    function redhand() {
        window.location.href = '/dashboard'
    }
</script>

<%- include("partials/adfoot") -%>