<%- include("partials/adhead") -%>

<div class="container-fluid">
    <hr>

<form action="" method="post" style="max-width: 400px; align-self: center;" class="">
    <div class="form-group" style="display: inline-flex !important;">
        <input class="form-control" type="text" placeholder="Search" name="search">
    </div>
        <input type="submit" class="btn btn-primary" value="Search">
</form>
<hr>

    <% data.forEach(function(item){ %>



        <div class="row p-3 m-2" style="border-style: outset !important; border-color: darkgoldenrod;">
        <div class="col col-5">
            <img
                class="card-img-top"
                src="<%= item.photo %>"
                alt="Card image cap"></div>

        <div class="col col-6  text-center">
            <h1
                class="card-title text-danger text-capitalize"
                style="text-decoration: underline; font-family: 'Times New Roman', Times, serif;">Title :
                <%= item.title %></h1>
            <br>
            <h2 class="text-primary text-capitalize">Category :
                <%= item.category %>
            <br>
            <h3
                class="text-dark text-capitalize"
                style="font-family: Arial, Helvetica, sans-serif;"><%= item.postBody.substring(0, 100) + " ..."%></h3>
            <br>
            <p><%= item.date %></p>
            <br>

                <button class="btn btn-primary" href="" onclick="readmo('<%= item._id %>')">Read More</button>
                <button class="btn btn-success" href="" onclick="editpos('<%= item._id %>')">Edit</button>
                <button class="btn btn-danger" href="" onclick="deletepos('<%= item._id %>')">Delete</button>        </div>
        </div>

    <% }); %>
</div>
</div>
<!-- /#page-content-wrapper -->

<!-- /#wrapper -->

<!-- Menu Toggle Script -->

<script>
function deletepos(id) {
    if (confirm("Hey ! \nDelete it ?")) {
        fetch('/delpos/'+id, {method: 'DELETE'}).then(() => {
            console.log('done !');
            window
                .location
                .reload()
        });
    } else {
        console.log('cancelled');
        alert('Cancelled !')
    }
    console.log(id);

}
</script>

<script>
function editpos(id) {
    console.log(id);
    window.location.href = '/edit-post/' + id
}
</script>

<script>
function readmo(id) {
    window.location.href = '/sinpost/' + id
}
</script>

<%- include("partials/adfoot") -%>