<%- include("partials/adhead") -%>

<h1>Edit Post</h1>
<p>
<form method="POST" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" value="<%= pos.title%>">
    </div>
    <div class="form-group">
        <label>Post</label>
        <input class="form-control"  name="postBody" value="<%= pos.postBody%>"></input>
    </div>

    <input required type="file" accept="image/*" onchange="document.getElementById('img-featured').src = window.URL.createObjectURL(this.files[0])" name="photo" value="<%= pos.photo %>"/>
        <br>
        <br>
        <img class="img-fluid" id="img-featured" style="max-width: 250px;" >
        <br>
        <br>
    <label for="cars">Choose a category:</label>

    <select name="category" id="category">
<% cat.forEach(function(item){ %>
    <option selected value="<%= item.category %>"> <%= item.category %> </option>
<% }); %>
    </select>


    <input type="submit" name="publish" class="btn btn-primary" value="submit">
</form>
</p>

<!-- <script>
        function deletepos(id) {
            console.log(id);
            fetch('/delpos/'+id, {method: 'DELETE'}).then(() => {
                console.log('done !');
                window.location.reload()
            });
        }
    </script> -->

<%- include("partials/adfoot") -%>