<%- include("partials/adhead") -%>

<div class="d-flex m-5">
<form method="POST" action="">
    <div class="form-group">
        <label>edit Category</label>
        <input type="text" class="form-control" name="category" value="<%= pos.category %>">
    </div>
    <input type="submit" name="publish" class="btn btn-primary" value="submit">
</form>
</p>
</div>

<%- include("partials/adfoot") -%>
