<%- include("partials/header") -%>
<hr>


<form
    action=""
    method="post"
    style=" align-self: center; background-color: lightcyan;"
    class="">
    <div class="px-auto mx-auto my-3" style="max-width: 400px !important;">
        <input class="form-control" type="text" placeholder="Search" name="Search..." onchange="fetres(name)" >
    </div>
    <!-- <input type="submit" class="btn btn-primary" value="submit"> -->
</form>
<hr>

<% postedData.forEach(function(item){ %>

    <div class="row p-3 m-2" style="border-style: outset !important; border-color: darkgoldenrod;">

        <div class="col col-5">
            <img
                class="card-img-top"
                src="<%= item.photo2 %>"
                alt="Card image cap"
                style="max-width: 400px; max-height: 400px;"></div>

        <div class="col col-6  text-center">
            <h1
                class="card-title text-danger"
                style="text-decoration: underline; font-family: 'Times New Roman', Times, serif;">Title :
                <%= item.title %></h1>
            <br>
            <h2 class=" mb-2 text-primary">Category :
                <%= item.category %></h2>
            <br>
            <h3
                class="text-dark text-capitalize"
                style="font-family: Arial, Helvetica, sans-serif;"><%= item.postBody.substring(0, 100) + " ..."%></h3>
            <br>

            <button class="btn btn-success" onclick="readmo('<%= item._id%>')">Read More</button class="btn btn-primary">
        </div>

    </div>

<% }); %>

<script>
    function readmo(id) {
        window.location.href = '/posts/' + id;
    }
</script>

<script>
    function fetres(name)
    {
        console.log(name);
    }
</script>

<%- include("partials/footer") -%>