<%- include("partials/header") -%>

<div class="row p-2 m-3 text-center" style="border-style: outset !important; border-color: darkgoldenrod;">
    <div class="col col-7 text-center">
        <img src="<%= img2 %>" alt="" style="max-width: 400px; max-height: 400px;"></div>
        <div class="col col-5 p-5">
            <h1
                class="card-title text-danger"
                style="text-decoration: underline; font-family: 'Times New Roman', Times, serif;">Title :&nbsp;<%= postTitle %></h1>
            <br>
                <h2 class=" mb-2 text-primary">
                    Category :
                    <%= category %></h2>
                <br>
                    <h3
                        class="text-dark text-capitalize"
                        style="font-family: Arial, Helvetica, sans-serif;">
                        Body :&nbsp;<%= postText %></h3>

                        <p class="text-muted"><%= date %></p>
                </div>

                
            </div>

            <%- include("partials/footer") -%>