<%- include("partials/header") -%>

<h1>search result</h1>

<div class="container-fluid">

<% result.forEach(function(item){ %>

    <div class="card cls" style="width: 18rem;">
            <div class="card-body">

                <img class="card-img-top" src="<%= item.photo %>" alt="Card image cap">

                Title : <h4 class="card-title"><%= item.title %></h4>
                Category : <h5 class="card-subtitle mb-2 text-muted"><%= item.category %></h5>
                Body : <h6 class="card-text"><%= item.postBody.substring(0, 100) + " ..." %></h6>
                PostedDate : <p><%= item.date %></p>
                <button class="btn btn-primary" href="" onclick="readmo('<%= item._id %>')">Read More</button>
            </div>
        </div>

<% }); %>
</div>

<script>
    function readmo(id) {
        window.location.href = '/posts/' + id;
    }
</script>

<%- include("partials/footer") -%>