<%- include("partials/adhead") -%>

<h1 class="ml-4">search result</h1>

<div class="container-fluid">

    <% result.forEach(function(item){ %>

        <div class="card cls" style="width: 18rem;">
            <div class="card-body">

                <img class="card-img-top" src="<%= item.photo %>" alt="Card image cap">

                Title :
                <h4 class="card-title"><%= item.title %></h4>
                Category :
                <h5 class="card-subtitle mb-2 text-muted"><%= item.category %></h5>
                Body :
                <h6 class="card-text"><%= item.postBody.substring(0, 100) + " ..." %></h6>
                PostedDate :
                <p><%= item.date %></p>
                <button class="btn btn-primary" href="" onclick="readmo('<%= item._id %>')">Read More</button>
                <button class="btn btn-danger" href="" onclick="deletepos('<%= item._id %>')">Delete</button>
                <button class="btn btn-success" href="" onclick="editpos('<%= item._id %>')">Edit</button>

            </div>
        </div>

    <% }); %>
</div>

<script>
    function deletepos(id) {
        if (confirm("Hey ! \nDelete it ?")) {
            fetch('/delpos/' + id, {method: 'DELETE'}).then(() => {
                console.log('done !');
                window
                    .location
                    .reload()
            });
        } else {
            console.log('cancelled');
            alert('Cancelled !')
        }
        console.log(id);

    }
</script>

<script>
    function editpos(id) {
        console.log(id);
        window.location.href = '/edit-post/' + id
    }
</script>

<script>
    function readmo(id) {
        window.location.href = '/posts/' + id;
    }
</script>

<%- include("partials/adfoot") -%>