<%- include("partials/header") -%>

<form action="/signup" method="POST">
    
    <div class="form-group">
    <input type="text" placeholder="name..." name="uname">
    </div>

    <div class="form-group">
    <input type="password" placeholder="password..." name="password">
    </div>
    
    <div class="form-group">
    <input type="password" placeholder="Confirm password..." name="Confirm_password">
    </div>

    <div class="form-group">
    <input type="email" placeholder="email..." name="email">
    </div>
    
    <div class="form-group">
    <input type="number" placeholder="mobile..." name="mobile">
    </div>

    <div class="form-group">
<select name="gender" id="gender">
    <option value="male">male</option>
    <option value="female">Female</option>
    <option value="other">Prefer Not Say</option>
</select>

    </div>

    <input type="submit" value="signup">
</form>

<%- include("partials/footer") -%>